Repository chri75252/simpler-fba: changes, and which pre-commit hooks are due for each by the changed paths.
All: claude-standards-sync, python-black, python-isort, validate-json-configs, check-api-keys

claude-standards-sync:
  name: Claude Standards Sync Check
  entry: python tools/sync_opportunity_detector.py --check
  language: python
  pass_filenames: false
  additional_dependencies:
  - python-dotenv
  description: Ensures claude.md is synced with CLAUDE_STANDARDS.md before commits

python-black:
  name: Format Python code with Black
  entry: black
  language: python
  args:
  - --line-length=100
  - --target-version=py312
  additional_dependencies:
  - black
  description: Format Python code using Black formatter

python-isort:
  name: Sort Python imports with isort
  entry: isort
  language: python
  args:
  - --profile=black
  - --line-length=100
  additional_dependencies:
  - isort
  description: Sort Python imports using isort

validate-json-configs:
  name: Validate JSON configuration files
  entry: python -m json.tool
  language: system
  description: Validate JSON syntax in configuration files

check-api-keys:
  name: Check for exposed API keys
  entry: python tools/security_checks.py --check-api-keys
  language: python
  description: Scan for accidentally exposed API keys in code

Add OUTPUTS directory
  OUTPUTS/COMPREHENSIVE_STATUS.md
  OUTPUTS/FBA_ANALYSIS/fba_profitable_finds_poundwholesale.co.uk_20250711_094108.json
  OUTPUTS/FBA_ANALYSIS/fba_profitable_finds_poundwholesale.co.uk_20250711_124617.json
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map0.json.bak
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map1.json.bak
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map2.json.bak
  OUTPUTS/ai_suggested_categories/clearance-king_co_uk_ai_category_cache.json
  OUTPUTS/cached_products/poundwholesale-co-uk_products_cache0.json.bak
  OUTPUTS/cached_products/poundwholesale-co-uk_products_cache1.json.bak
  OUTPUTS/cached_products/poundwholesale-co-uk_products_cache2.json.bak
  OUTPUTS/financial_reports/fba_financial_report_20250703_101636.csv
  OUTPUTS/financial_reports/fba_financial_report_20250703_111147.csv
  OUTPUTS/financial_reports/fba_financial_report_20250704_054204.csv
  OUTPUTS/financial_reports/fba_financial_report_20250704_094534.csv
  OUTPUTS/financial_reports/fba_financial_report_20250704_220027.csv
  OUTPUTS/financial_reports/fba_financial_report_20250704_223917.csv
  OUTPUTS/financial_reports/fba_financial_report_20250705_102617.csv
  OUTPUTS/financial_reports/fba_financial_report_20250705_102711.csv
  OUTPUTS/financial_reports/fba_financial_report_20250705_102754.csv
  OUTPUTS/financial_reports/fba_financial_report_20250705_145547.csv
  OUTPUTS/financial_reports/fba_financial_report_20250705_145636.csv
  OUTPUTS/financial_reports/fba_financial_report_20250705_195055.csv
Due: none

Experiment 1: Processing & System Limits
  config/system_config.json
Due: validate-json-configs, check-api-keys

Experiment 2: Cache Control & Hybrid Processing
  config/system_config.json
Due: validate-json-configs, check-api-keys

Experiment 3: Batch Synchronization & Financial Reporting
  config/system_config.json
Due: validate-json-configs, check-api-keys

Experiment 4: Advanced Progress Tracking
  config/system_config.json
Due: validate-json-configs, check-api-keys

Experiment 5: System Capacity & Analysis Limits
  config/system_config.json
Due: validate-json-configs, check-api-keys

Experiment 6: Performance Matching Thresholds
  config/system_config.json
Due: validate-json-configs, check-api-keys

Experiment 7: Authentication & Circuit Breaker
  config/system_config.json
Due: validate-json-configs, check-api-keys

toggle implemetnation done to be tested
  AGENTS.md
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B06X1GB5JQ_5053249218847.json
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B0B38YH6S7_5060050352509.json
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B0BWNRTRMQ_5020535022211.json
  OUTPUTS/FBA_ANALYSIS/financial_reports/poundwholesale-co-uk/fba_financial_report_20250715_155335.csv
  OUTPUTS/FBA_ANALYSIS/financial_reports/poundwholesale-co-uk/fba_financial_report_20250715_160200.csv
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map.json
  OUTPUTS/cached_products/poundwholesale-co-uk_products_cache.json
  OUTPUTS/fba_profitable_finds_poundwholesale.co.uk_20250715_155335.json
  config/system_config.json
  config/toggle_effect_report.md
  logs/debug/run_custom_poundwholesale_20250715_155142.log
  logs/debug/run_custom_poundwholesale_20250715_160152.log
  logs/debug/run_custom_poundwholesale_20250715_160456.log
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, validate-json-configs, check-api-keys

toggle implemetnation tested
  OUTPUTS/FBA_ANALYSIS/financial_reports/poundwholesale-co-uk/fba_financial_report_20250715_162138.csv
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map.json
  OUTPUTS/fba_profitable_finds_poundwholesale.co.uk_20250715_162137.json
  config/system_config.json
  config/toggle_effect_report.md
  logs/debug/run_custom_poundwholesale_20250715_161944.log
  logs/debug/run_custom_poundwholesale_20250715_162252.log
Due: validate-json-configs, check-api-keys

Update AGENTS.md
  AGENTS.md
Due: check-api-keys

Remove duplicate method definitions
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Use path_manager for final report path
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Use path_manager for linking map
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Refactor financial calc calls
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Implement helper for converted linking map
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

fix: finalize hybrid processing
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Fix linking map imports
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Deduplicate workflow helpers and ensure final saves
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

Fix final report calls
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

NEWER
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map.json
  OUTPUTS/cached_products/poundwholesale_co_uk_products_cache.json
  logs/debug/run_custom_poundwholesale_20250720_065726.log
  logs/debug/run_custom_poundwholesale_20250720_065840.log
  tools/passive_extraction_workflow_latest.py
  utils/enhanced_state_manager.py
Due: python-black, python-isort, check-api-keys

july20 8.09am
  COMPREHENSIVE_SYSTEM_ANALYSIS_AND_FIXES_REPORT.md
  tools/passive_extraction_workflow_latest.py
Due: python-black, python-isort, check-api-keys

july20 10.50am
  COMPREHENSIVE_SYSTEM_ANALYSIS_AND_FIXES_REPORT.md
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B000T1VWFC_5053249276229.json
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B077YSLPTX_05020535010768.json
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B07H1YM88L_5053249276243.json
  OUTPUTS/FBA_ANALYSIS/amazon_cache/amazon_B088DFVW84_5052578042000.json
  OUTPUTS/FBA_ANALYSIS/linking_maps/poundwholesale.co.uk/linking_map.json
  OUTPUTS/cached_products/poundwholesale-co-uk_products_cache.json.bakfix
  OUTPUTS/cached_products/poundwholesale_co_uk_products_cache.json
  OUTPUTS/cached_products/poundwholesale_co_uk_products_cache.json.bakr
  claude.md
  docs/readme.md
  logs/debug/run_custom_poundwholesale_20250720_081335.log
  logs/debug/run_custom_poundwholesale_20250720_081504.log
  logs/debug/run_custom_poundwholesale_20250720_082211.log
  logs/debug/run_custom_poundwholesale_20250720_082941.log
  logs/debug/run_custom_poundwholesale_20250720_083349.log
  logs/debug/run_custom_poundwholesale_20250720_083951.log
  logs/debug/run_custom_poundwholesale_20250720_085139.log
  logs/debug/run_custom_poundwholesale_20250720_091517.log
  logs/debug/run_custom_poundwholesale_20250720_092106.log
  logs/debug/run_custom_poundwholesale_20250720_092229.log
  logs/debug/run_custom_poundwholesale_20250720_092350.log
  logs/debug/run_custom_poundwholesale_20250720_101259.log
  logs/debug/run_custom_poundwholesale_20250720_102247.log
  logs/debug/run_custom_poundwholesale_20250720_102716.log
  logs/debug/run_custom_poundwholesale_20250720_102852.log
  logs/debug/run_custom_poundwholesale_20250720_103357.log
  logs/debug/run_custom_poundwholesale_20250720_104019.log
  logs/debug/run_custom_poundwholesale_20250720_104929.log
  tools/passive_extraction_workflow_latest - Copy.py.bak20julyam
  tools/passive_extraction_workflow_latest.py.blackbox
Due: claude-standards-sync, check-api-keys

Remove LangGraph requirements and skip dependent tests
  langraph_integration/complete_fba_workflow.py
  langraph_integration/fba_workflow.py
  requirements.txt
  tests/test_acceptance_gate.py
  tests/test_login_step.py
  tools/supplier_script_generator.py
  tools/vision_login_handler.py
  tools/vision_product_locator.py
  tools/workflow_orchestrator.py
Due: python-black, python-isort, check-api-keys

Use path_manager for log paths in poundwholesale headed test
  tests/test_poundwholesale_headed.py
Due: python-black, python-isort, check-api-keys

Add Selenium-based Playwright adapter and update docs
  AGENTS.md
  browser_automation/__init__.py
  browser_automation/playwright_adapter.py
  docs/AGENTS.md
  requirements.txt
  tests/test_poundwholesale_headed.py
Due: python-black, python-isort, check-api-keys

Path conditions:
  claude-standards-sync: any of: ^(CLAUDE_STANDARDS\.md|claude\.md|tools/sync_claude_standards\.py)$, but not: (?x)^(
  archive/.*|
  archive_new/.*|
  OUTPUTS/.*|
  logs/.*|
  \.git/.*|
  .*\.log$|
  .*\.cache$
)$
  python-black: any of: \.py$, but not: (?x)^(
  archive/.*|
  archive_new/.*|
  OUTPUTS/.*|
  logs/.*|
  \.git/.*|
  .*\.log$|
  .*\.cache$
)$
  python-isort: any of: \.py$, but not: (?x)^(
  archive/.*|
  archive_new/.*|
  OUTPUTS/.*|
  logs/.*|
  \.git/.*|
  .*\.log$|
  .*\.cache$
)$
  validate-json-configs: any of: \.(json)$, but not: (?x)^(
  archive/.*|
  archive_new/.*|
  OUTPUTS/.*|
  logs/.*|
  \.git/.*|
  .*\.log$|
  .*\.cache$
)$
  check-api-keys: any of: not (^\.env$), but not: (?x)^(
  archive/.*|
  archive_new/.*|
  OUTPUTS/.*|
  logs/.*|
  \.git/.*|
  .*\.log$|
  .*\.cache$
)$
